<h1>Listado de Heroes</h1>
<mat-divider></mat-divider>
<br>
<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="20px">
  <div fxFlex="20" fxFlex.lg="15" fxFlex.sm="30" *ngFor="let heroe of heroes">
    <mat-card >
<app-heroe-tarjeta [heroe]="heroe"></app-heroe-tarjeta>
    </mat-card>
  </div>

</div>
