<p>error-page works!</p>
<ul>
  <li>
    <a routerLink="/heroes/listado">
      Ir a listado
    </a>
  </li>

  <li>
    <a routerLink="/auth/login">
      Ir a login
    </a>
  </li>

  <li>
    <a routerLink="/auth/registro">
      Ir a registro
    </a>
  </li>
</ul>
