<mat-card-header>
  <mat-card-title>
    {{heroe.alias}}
  </mat-card-title>
  <mat-card-subtitle>
    {{heroe.name}}
  </mat-card-subtitle>
</mat-card-header>
<img mat-card-image [src]="heroe | imagen">
<mat-card-content>
  <p>
    <strong>Descripcion:</strong>{{heroe.description}}
  </p>
</mat-card-content>
<mat-card-actions>
  <button mat-button color="warn" [routerLink]="['/heroes',heroe.id]">
    Leer mas...
  </button>
  <button mat-button color="info" [routerLink]="['/heroes/editar',heroe.id]">
    Editar
  </button>
</mat-card-actions>
