<div fxLayout="column">
  <div>
    <h1>Buscador de Heroes</h1>
    <mat-divider></mat-divider>
  </div>
  <div>
    <h3>Buscador</h3>

      <mat-form-field  >
        <mat-label>Number</mat-label>
        <input type="text"
               placeholder="Pick one"
               aria-label="Number"
               matInput
                [(ngModel)]="termino"
               [matAutocomplete]="auto"
               (input)="buscando()">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let heroe of heroes " [value]="heroe">
            {{heroe.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

  </div>

</div>
