<mat-grid-list cols="1" *ngIf="!heroe;else divHeroe">
  <mat-grid-tile>
    <mat-spinner></mat-spinner>
  </mat-grid-tile>
</mat-grid-list>

<ng-template #divHeroe>
  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px">

    <div fxFlex="50">
      <h1>{{heroe.name}}<small> -- {{heroe.alias}}</small></h1>
      <mat-divider></mat-divider>
      <br>
      <img [src]="heroe|imagen">
    </div>

    <div fxFlex="50">
      <h1>{{heroe.occupation}}</h1>
      <mat-divider></mat-divider>
      <mat-grid-list>
        <mat-list-item>{{heroe.description}}</mat-list-item>
        <mat-list-item>{{heroe.quirk}}</mat-list-item>
      </mat-grid-list>
      <br>
      <button mat-button color="warn" (click)="regresar()">
        Regresar
      </button>
    </div>

  </div>

</ng-template>
